body {
    background-color: rgb(101, 101, 101);
}

.output {
    display: flex;
    height: 100px;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    background: white;
    align-items: center;
    border-radius: 75px;
    border-color: black;
    border-style: groove;
}

#container {
    display: grid;
    height: 750px;
    width: 450px;
    background-color: rgb(148, 148, 175);
    margin: auto;
    padding: 30px;

}

.number {
    padding: 37px;
    font-size: 15px;
    border-radius: 10px;
}

#numbers {
    align-self: center;
}

#operations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.op {
    padding: 30px;
    font-size: 15px;
}

#functions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.equals {
    padding: 30px;
    font-size: 15px;
}

.clear {
    padding: 30px;
    font-size: 15px;
}